// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

body.application, input, textarea
    color: #bbb
    background: none repeat scroll 0 0 rgba(30, 30, 30, 0.8)

a, a:visited
    color: #27aaf2
    text-decoration: none

#content
    padding: 2em


button, input[type=button]
    background-color: inherit

[class^="icon-"], [class*=" icon-"]
    background-image: url("../images/glyphicons-halflings.png")
    background-position: 14px 14px
    background-repeat: no-repeat
    display: inline-block
    height: 14px
    line-height: 14px
    width: 14px
    vertical-align: text-top
    cursor: pointer
    border-radius: 10px 10px 10px 10px
    cursor: pointer
    padding: 10px 15px
    border: 2px solid #666

.icon-more
    background-position: -305px -116px

.icon-less
    background-position: -280px -117px

#create-bookmark-form
    padding: 0 2em
    input
        padding: .5em
        margin: 1em
        width: 24em
        display: block
    input[type=button]
        width: 14px
        height: 14px
        padding: 10px 15px
        display: inline-block
    textarea
        display: block
        display: none
        padding: .5em
        margin: 1em
        width: 50em
    .url-field
        width: 50em
    .tags-field, .title-field
        display: inline-block
    .icon-create
        background-position: -280px 3px
        display: block
        margin: 1em

.search
    padding: .5em
    margin: 1em
    width: 24em

.icon-sort
    margin-right: 5px
    background-position: -209px -116px
.icon-sort:before
    content ""
.icon-delete
    background-position: -304px 3px

#bookmark-list
    padding: 2em

    ul
        list-style: none
        li
            border-top: 1px solid #666666;
            padding: 1em 0;

    .bookmark
        margin: 1em 0
        table-row
        div, a
            padding: .5em
            margin: 1em
            display: table-cell
        .buttons
            width: 20px
        .title
            font-weight: bold
        .url
            max-width: 20em
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
        .url:hover
            max-width: none
            overflow: normal
            text-overflow: inherit
        .tags
            max-width: 20%
        .description
            margin: 20px
