// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here
@import '_states'
@import '_layout'
@import '_responsive'

main-color   = #bbb
danger-color = #d9534f

body.application, input, textarea
    color: main-color;
    padding: 0;
    background: none repeat scroll 0 0 rgba(40,40,40,0.8);

#content
    padding: 1em
    input, textarea
        border: #1f1f1f
        color: #eee
    .row
        margin: 0 .5em
    .form-control
        background: #262626
    .panel
        border: #1f1f1f
        background: main-color
    .panel-heading
        background: #1f1f1f
        border: #1f1f1f
        color: main-color
        .panel-title
            font-weight: bold
            font-size: 2em
            padding: .5em
    .panel-body
        background: #1f1f1f
        color: main-color
    button
        margin: 0 .5em
        padding: 0
        vertical-align: middle
        &:hover
            opacity: 0.8

    span.import
    span.export
        position: absolute
        top: 1.5em
        button
            background: transparent
            color: #373
            border: 0
            padding: 0
            margin: 0
            font-size: 1.25em
        .import-failed
            padding: -1
            margin: 0
        .imported
            padding: 0
            margin: 0
    span.import
        right: 1.5em
    span.export
        right: 3em

#create-bookmark-form
    textarea
        height: 5em
    .full-form
        display: none
    button.create
        font-size: 3em
        background: transparent
        color: #5cb85c
        border: none
        margin-left: 0
        margin-right: 1em
    button.clean
        background: transparent
        color: danger-color
        border: none

#bookmarks-file
    display: none


#bookmarks-list
    ul
        list-style: none
    li
        border-top: 1px solid #333
        padding: .5em 0;
    .tools
        .form-group
            width: 20em
            display: inline-block
        button.sort
            color: #428bca
            background: transparent
            border: none
    .bookmark
        .delete
            background: transparent
            color: danger-color
            border: none
            visibility: hidden
            margin: 0
            padding: 0.1em
            div
                vertical-align: initial
        &:hover
            .delete
                visibility: visible
        div
            display: inline-block
            max-width: 65%
            margin: .0 .5em
            white-space: normal
            vertical-align: middle
            &.full
                max-width: 80%
        .description
            margin: .5em 4em
            color: #eee
            border-radius: 4px
            background: #262626
            padding: .5em
            opacity: 0.5
        .info
            white-space: nowrap
            max-width: 65%
        .url
            max-width: 30%
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            &:hover
                white-space: normal
                max-width: none

.alertify-dialog, .alertify-buttons, .alertify-log
    background: #000
    opacity: 0.8
    text-align: center
    color: main-color
.alertify-button-ok:
    background: #000
    box-shadow: none
.alertify-message
    font-size: 1.5em
