#content
    form#create-bookmark-form
        h1.title(title="click to hide the form") Bookmark a link
        div
            p
                input.url-field(placeholder="url")
                input.title-field(placeholder="title")
                input.tags-field(placeholder="tags, separated by ','")
            p.last
                textarea.description-field(placeholder="description")
            .buttons
                button.create(title="click here to store the bookmark")
                    img(src="icons/add.png", alt="add")
                button.clean(title="click to clean the form")
                    img(src="icons/clean.png", alt="clean")

    div#bookmark-list
        h1.title mY BOOkmarks
        .tools
            input.search(placeholder="search")
            button.sort.descending(title="click to sort links",
                                   data-sort="title")
                    img(src="icons/sort-descending.png", alt="sort")
        ul.list

