#content
    H1 mY BOOkmarks
    form#create-bookmark-form
        input.url-field(placeholder="url")
        span.icon-more
        br
        input.title-field(placeholder="title")
        input.tags-field(placeholder="tags, separated by ','")
        textarea.description-field(placeholder="description")
        button.btn.create-button create
    div#bookmark-list
        input.search(placeholder="search")
        span.sort(data-sort="title") sort
        ul.list

